<% include ../partials/header %>

<% var classOptions = ["Freshman", "Sophomore", "Junior", "Senior"]%>

<h1>Edit <%= member.firstName + " " + member.lastName %></h1>
    <!-- <form action="/members/<%= member._id%>?_method=PUT" method="POST">
        <input type="text" name="member[firstName]" value="<%= member.firstName%>">
        <input type="text" name="member[lastName]" value="<%= member.lastName%>">
        <input type="text" name="member[position]" value="<%= member.position%>">
        <input type="submit">
    </form> -->

    <form action="/members/<%= member._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="editMemberFirstName">Member's First Name</label>
            <input value="<%= member.firstName%>" type="text" name="member[firstName]" placeholder="First Name" class="form-control" id="editMemberFirstName">
        </div>
        <div class="form-group">
            <label for="editMemberLastName">Member's Last Name</label>
            <input value="<%= member.lastName%>" type="text" name="member[lastName]" placeholder="Last Name" class="form-control" id="editMemberLastName">
        </div>
        <div class="form-group">
            <label for="newMemberClass">Member's Class</label>
            <select required name="member[class]" id="newMemberClass">

                <% classOptions.forEach(function(option){%>
                <% if(option == member.class){%>
                    <option selected value="<%= option %>"><%= option %></option>
                <% }else{%>
                    <option value="<%= option %>"><%= option %></option>
                <% }%>
                <% })%>

            </select>
        </div>
        <div class="form-group">
                <% if(member.boardMember){ %>
                    <input checked type="checkbox" name="member[boardMember]" value="true" class="form-check-input" id="isBoardMember" >
                <% }else{ %>
                    <input type="checkbox" name="member[boardMember]" value="true" class="form-check-input" id="isBoardMember" >
                <% } %>
            <label for="isBoardMember">Board Member?</label>
        </div>
        <div class="form-group">
            <label for="editMemberPosition">Member's Position</label>
            <input value="<%= member.position%>" type="text" name="member[position]" placeholder="Position" class="form-control" id="editMemberPosition">
        </div>
        <div class="form-group">
            <label for="newMemberBio">Member Bio</label>
            <textarea minlength="250" required name="member[bio]" class="form-control" id="newMemberBio" rows="3"><%= member.bio %></textarea>
        </div>
        <div class="form-group">
            <label for="image">Headshot of member</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>
              
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

<% include ../partials/footer %>